body {
  margin: 20px;
}

.countriesContainer {
  display: flex;
}

.countriesList {
  list-style: none;
  padding: 0px;
}

.countriesItem {
  margin: 5px;
  border: 1px solid lightgrey;
  display: flex;
  cursor: pointer;
}

.countriesNumber {
  background-color: lightgrey;
  color: #fff;
  width: 25px;
  padding: 10px;
  text-align: center;
}

.countriesText {
  padding: 10px;
}

.selectionControls {
  margin: 20px 0px 0px 15px;
  padding: 10px;
  border: 1px solid lightgrey;
  height: 100%;
}

.arrowButton {
  cursor: pointer;
  user-select: none;
}
